html {
	background-color:silver;
}

body {
	margin: 0px;
	color: white;
	font-family: Lucida Console;
}
.navbar {
    height: 6vh;
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    overflow: hidden;
    background-color: #333;
    padding: 1px;
}

li.navleft {
    font-family: cursive;
    float: left;
}

li a {
    display: block;
    color: white;
    font-size:3vh;
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
}

.width{
    max-width: 1324px;
	margin-left: auto;
	margin-right: auto;
}

header img{
	border-left: 7px #333 solid;
	border-right: 7px #333 solid;
	border-bottom: 7px #333 solid;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	height:auto;
	max-width: 85%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#container p{
	padding-top: 20px;
	margin-left: 15%;
	margin-right: 15%;
	font-size: 3vh;
}

#container{
	background-color: #4F95D0;
	padding-bottom: 100px;
	margin-left:15%;
	margin-right:15%;
	border-radius: 7px;
}

table {
	margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.profiles {
	border: 4px solid white;
	border-radius: 15px;
	display: block;
}

