
#reset {
    margin-left: auto;
    margin-right: auto;
    width: 240px;
    height: 60px;
}
body {

    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top:0;
}

#fContainer {
    overflow: auto;
}

#fAdd{
    display: block;
    float: right;
    height:35px;
    margin-right: 10px;
    padding: 2px 25px 0px 25px;
}
#fRemove{
    display: block;
    float: right;
    height:35px;
    margin-right: 10px;
    padding: 2px 25px 0px 25px;
}
#fList {
    display:block;
    height:35px;
    width:120px;
    float:right;
    margin-right: 25px;
}

.navbar {
    height: 6vh;
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    overflow: hidden;
    background-color: #333;
    padding: 1px;
}

li.navleft {
    font-family: cursive;
    float: left;
}

nav a {
    display: block;
    color: white;
    font-size:3vh;
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
}
.main {
    margin-left: auto;
    margin-right: auto;
    padding:15px;
    min-width: 690px;
    max-width: 1000px;
}

#pTitle {
    padding-top: 10px;
    text-align: center;
    font-family: cursive;
    font-size: 24px;
}
#dImg {
    display: inline-block;
    padding-left:20px;
    padding-bottom:5px;
}
#dInfo {
    display: inline-block;
    float: right;
    margin-right: 40px;
}
.dFriend {
    min-width: 525px;
    display: block;
}
.dCopy {
    width: 100%;
    min-height: 50px;
    text-align: center;
    display:block;
    overflow: hidden;
}
#dSchedule {
    display: block;
    min-height: 300px;
    max-width: 225px;
    overflow: auto;
    padding-right: 15px;
    float: right;
    margin-bottom: 20px;
    margin-left: auto;
}
.pElem {
    list-style-type: none;
    text-align: left;
    margin-left: 20px;
    padding: 2px 5px 2px 5px;
    max-width: 500px
}
.fText {
    font-size: 24px;
    display:block;
    font-family: cursive;
}
.fElem {
    list-style-type: none;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 2.5px;
    margin-top: 2px;
    margin-right: 25px;
    float:left;
    margin-bottom: 20px;
    min-height: 80px;
    min-width: 450px;
}
.fInfo {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    font-family: sans-serif;
    font-size: 18px;
}
.sList{
    list-style-type: circle;
}
.sElem {
    list-style-type: circle;
}
.pSchedule {
    margin-left: 15px;
    font-size: 24px;

}
.fImg {
    margin-right: 25px;
    margin-left: 50px;
    float: right;
}