@media only all and (max-device-width: 600px) {
    body {
        background-color: #A9A9A9;
    }
    #fAdd {
        box-shadow: 5px 5px 8px #333333;
    }
    #fRemove {
        box-shadow: 5px 5px 8px #333333;
    }
    #fList {
        box-shadow: 5px 5px 8px #333333;
    }
    .main {
        background-color: #3399ff;
        box-shadow: 5px 5px 8px #333333;
        border: lightgreen solid;
        border-radius: 0px 0px 5px 5px;
        border-top: 0px;
    }
    .dTop {
        background-color: #99ff99;
        box-shadow: 5px 5px 8px #333333;
    }
    #pTitle {
        color: #009933;
    }
    .dCopy {
        background-color: lightgreen;
        box-shadow: 5px 5px 8px #333333;
    }
    #dSchedule {
        background-color: #ff96bd;
        box-shadow: 5px 5px 8px #333333;
    }
    .pSchedule{
        color: #cc6600;
    }
    .fText {
        color: #FFFFFF;
    }
    .fElem {
        background-color: #ffb380;
        box-shadow: 5px 5px 8px #333333;
    }
}