@media only all and (max-device-width: 2900px) {
    body {
        background-color:#A9A9A9;
    }
    #fAdd {
        box-shadow: 5px 5px 8px #444444;
    }
    #fRemove {
        box-shadow: 5px 5px 8px #444444;
    }
    #fList {
        box-shadow: 5px 5px 8px #444444;
    }
    .main {
        background-color:#4F95D0;
        box-shadow: 5px 5px 8px #444444;
        border: lightblue solid;
        border-radius: 0px 0px 5px 5px;
        border-top:0px;
        min-width: 710px;
        max-width: 1250px;
    }
    .dTop {
        background-color: #FFFFB8;
        box-shadow: 5px 5px 8px #444444;
    }
    #pTitle {
        color: #B987B8;
    }
    .dCopy {
        background-color: lightblue;
        box-shadow: 5px 5px 8px #444444;
    }
    #dSchedule {
        background-color: #FFE5D9;
        box-shadow: 5px 5px 8px #444444;
    }
    .pSchedule{
        color: #1E88F8;
    }
    .fText {
        color: #57F590;
    }
    .fElem {
        background-color: #9BFEE0;
        box-shadow: 5px 5px 8px #444444;
    }
}