@media only all and (max-device-width: 2900px) {
    body {
        background-color: #3e3d3d;
    }
    #fAdd {
        box-shadow: 5px 5px 8px #000000;
    }
    #fRemove {
        box-shadow: 5px 5px 8px #000000;
    }
    #fList {
        box-shadow: 5px 5px 8px #000000;
    }
    .main {
        background-color: rgb(31, 56, 76);
        box-shadow: 5px 5px 8px #000000;
        border: white solid;
        border-radius: 0px 0px 5px 5px;
        border-top:0px;
        min-width: 710px;
        max-width: 1250px;
    }
    .dTop {
        background-color: #5bbefe;
        border-radius: 5px;
        border-color: white;
        border-style: solid;
        box-shadow: 5px 5px 8px #000000;
    }
    #pTitle {
        font-family: Tahoma;
        font-size: 35px;
        color: rgb(255, 255, 255);
    }
    .pImg {
        border-style: solid;
        border-color: white;
        border-width: 1px;
        border-radius: 3px;
    }
    .pElem {
        font-size: 20px;
        font-family: Tahoma;
        color: #ffffff;
    }
    #pElemLoc {
        font-size: 20px;
        font-family: Tahoma;
        color: #ffffff;
    }
    #pElemLoc a {
        color: blue;
    }
    #pElemLoc a:hover {
        color: purple;
    }
    #pElemLoc a:hover a:visited {
        color: purple;
    }
    #dCopy {
        background-color: #5bbefe;
        border-radius: 5px;
        border-color: white;
        border-style: solid;
        box-shadow: 5px 5px 8px #000000;
        color: white;
        font-size: 28px;
    }
    #dSchedule {
        background-color: #5bbefe;
        box-shadow: 5px 5px 8px #000000;
        border-radius: 5px;
        border-color: white;
        border-style: solid;
    }
    #dSchedule ul, li, ul {
        font-family: "Lucida Console", Monaco, monospace;
    }
    .pSchedule{
        font-family: Tahoma;
        font-size: 32px;
        margin-top: 7%;
        margin-bottom: 0px;
        color: rgb(255, 255, 255);
    }
    .pSDay {
        color: #000;
        font-size: 20px;
    }
    .pSDContent {
        color: #000000;
        font-size: 15px;
        list-style-type: initial;
    }
    .fText {
        color: #FFFFFF;
        font-size: 30px;
        font-family: Tahoma;
    }
    .fBody {
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        font-size: 22px;
    }
    .fBody a:hover {
        text-decoration: underline;
        color: purple;
    }
    .fBody a:visited a:hover {
        text-decoration: underline;
        color: blue;
    }
    .fBody a {
        text-decoration: none;
        color: blue;
    }
    .fElem {
        background-color: #5BBEFE;
        box-shadow: 5px 5px 8px #000000;
        border-radius: 5px;
        border-color: white;
        border-style: solid;
    }
    .fInfo {
        line-height: 1.4em;
        font-size: 18px;
    }
    .fImg {
        border-style: solid;
        border-color: white;
        border-width: 2px;
        border-radius: 3px;
    }
}